<!DOCTYPE html>
<html lang="en">

 <% include ../partials/head %>

<body>
  <% include ../partials/navbar %>
    <main id="edit-profile">
        <div class="edit-profile__container">
            <header class="edit-profile__header">
            </header>
            <form Method="POST" class="edit-profile__form">
                <div class="form__row">
                    <label for="firstname" class="form__label">First Name:</label>
                    <input name="firstname" value=" <%= user.firstname %>" type="text" class="form__input" />
                </div>
                <div class="form__row">
                    <label for="lastname" class="form__label">Last name:</label>
                    <input name="lastname" value=" <%= user.lastname %>" type="text" class="form__input" />
                </div>
                <div class="form__row">
                    <label for="bio" class="form__label">Bio:</label>
                    <textarea name="bio"> <%= user.bio %> </textarea>
                </div>
                <div class="form__row">
                    <label for="email" class="form__label">email:</label>
                    <input name="email" value=" <%= user.email %>" type="email" class="form__input" />
                </div>
                <div class="form__row">
                    <label for="birthdate" class="form__label">birthdate:</label>
                    <input name="birthdate" value=" <%= user.birthdate.toISOString().substr(0,10) %>" type="date" class="form__input" />
                </div>
                <div class="form__row">
                    <label for="gender" class="form__label">Gender:</label>
                    <select name="gender" disabled>
                        <option value="Male" <% user.gender=='Male'?'selected':'' %></option>Male</option>
                        <option value="Female" <% user.gender=='Female'?'selected':'' %></option> >Female</option>
                    </select>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </main>
    <% include ../partials/footer %>
   
</body>

</html>